name: ci
on:
    push:
        branches: [master]
    pull_request:
        branches: [master]
    workflow_dispatch:

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2.4.0
            - name: Setup Python
              uses: actions/setup-python@v3
              with:
                  python-version: 3.9
            - name: Install dependencies
              run: |
                  sudo apt update -y
                  sudo apt install -y tree poppler-utils
                  python -m pip install --upgrade pip
                  pip install poetry==1.1.11
                  poetry config virtualenvs.create false
                  poetry install --no-interaction --no-ansi
            - name: pre-commit
              uses: pre-commit/action@v2.0.3
            - name: Test with pytest
              run: pytest
              env:
                  PYTHONPATH: src/
              if: github.event_name == 'push'
